@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --cor1: white;
    --cor2: black;

    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-Passion: 'Possion One', cursive;
    --fonte-Sriracha: 'Sriracha' cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: var(--cor2);
    color: var(--cor1);
    height: 250px;
    text-align: center;
}
#Titulo{
    padding-top: 20px;
    font-family: var(--fonte-Sriracha);
    font-size: 5em;
    font-weight: bolder;
    min-width: 400px;
}
#Subtitulo{

}
#Link{

}
body{
    background-color: white;
    
}
main{
    max-width: 500px;
    font-family: var(--fonte-Passion);
    font-size: 2em;
    font-weight: bold;
    padding: 20px;
    margin-top: 15px;
    margin-left: 30px;
}
article{
     background-color: rgba(0, 0, 0, 0.112);
    color: var(--cor1);
    
}
aside{
    background-color: var(--cor2);
    min-width: 500px;
    height: 400px;
    
   
    
    
}
#girasol{
    background-image: url(imagens/background001.jpg);
}
#livro{
    background-image: url(imagens/background002.jpg);
}